.App {
  margin: 40px;
} 

form {
  width: 600px;
  height: 70px;
}

.boxDisplay{
  margin-top: 40px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.box{
  border: 1px solid black;
  width: 150px;
  height: 150px;
}
